.playlistsContainer {
  justify-items: center;
  margin-top: 100px;
}

.playlists {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));

  gap: 30px;
  margin: 0 auto;
  padding: 20px;
  align-items: center;
  width: 100%;
}

.header {
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 10px;
}
