.playlistHeader {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}

.playlistHeader h1 {
  margin-right: 20px;
}

.modalContent {
  padding: 20px;
  text-align: center;
}
.userSongsContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
