.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.upperSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
