.button {
  border: none;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}
button[type="cancel"],
button[type="close"] {
  background-color: gray;
}
button[type="delete"] {
  background-color: var(--destructive);
}
button[type="login"],
button[type="register"] {
  background-color: var(--color-button);
}
button[type="select"] {
  background-color: var(--color-background-app);
}
button[type="link"] {
  background-color: var(--color-background-800);
}
.button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
  transition: transform 1s ease;
}
