:global(.formVisible) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

.formVisible button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--foreground);
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
}

.formVisible button:hover {
  background-color: var(--color-button);
  transition-duration: 0.5s;
}
