.formOpen {
  background-color: var(--primary);
}

.formOpen textarea {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 300px;
  max-width: 500px;
  resize: none;
  font-size: 1.2rem;
}

.formOpen button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--foreground);
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
}

.formOpen button:hover {
  background-color: var(--color-button);
  transition-duration: 0.5s;
}
