.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  margin: 10px;
  cursor: pointer;
}
.category p {
  font-size: 16px;
  font-weight: 600;
}
.category:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
