.songContainerBox h2:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.song {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 10px;
}

.song:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: var(--color-background-900);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.addBtn {
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--color-primary-500);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
