.songContainerBox h2:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

:global(.song) {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
}

.song:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: var(--color-background-900);
  transition: background-color 0.4s ease, box-shadow 0.3s ease;
  transform: scale(1.005);
}

.addBtn {
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--color-primary-500);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.addBtn:hover {
  background-color: var(--color-primary-600);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.playlistSelect {
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--color-background-900);
  color: var(--color-text);
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.playlistInput {
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--color-background-900);
  color: var(--color-text);
  border: none;
  font-size: 1rem;
  width: 100%;
}

.songDetails {
  font-weight: bolder;
  color: var(--color-text);
  text-align: center;
  margin-top: 5px;
}

.thumbnail {
  width: 100%;
  cursor: pointer;
}

.thumbnail:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;
}

.optionsBtn {
  background: none;
  color: var(--color-text);
  border: none;
  cursor: pointer;
}
.optionItem {
  cursor: pointer;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
