.modal {
  position: fixed;
  width: 20%;
  height: 300px;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
}
.playlistDropdown {
  justify-self: start;
  margin-left: 5px;
  color: white;
  width: 100%;
}
