.searchBar {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.searchBar img {
  width: 60px;
  height: 60px;
}
.searchBar img:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.1s;
}
.searchBar img:active {
  transform: scale(0.9);
}
