.search {
  justify-self: center;
  border: none;
  padding: 2px;
  font-size: 1.5rem;
  border-radius: 0.7rem;
  width: 30rem;
  transition: all 0.3s;
  color: var(--color-text);
  background-color: var(--color-text);
}
.search::placeholder {
  color: var(--color-text-dark);
}
.search:focus {
  width: 35rem;
  outline: none;
}
.searchBar {
  display: flex;
  align-items: center;
  gap: 10px;
}
.materialSymbolsOutlined:hover {
  font-size: 50px;
}
.materialIconsOutlined:hover {
  font-size: 50px;
}
.searchBar img {
  width: 30px;
  height: 30px;
}
